.sun {
    width: 100px;
    height: 100px;
    background: darkorange;
    border-radius: 50%;
}

.trajectory {
    border: 1px dashed gray;
}

.horizon {
    position: fixed;
    top: 50%;
    border-top: 1px dotted gray;
    width: 100%;
}
